<div class="asignar-ruta-conductor">
  <div class="dashboard d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Asignar Ruta-Conductor</h2>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Asignar
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <mat-form-field appearance="outline">
              <mat-label>Seleccione ruta</mat-label>
              <mat-select formControlName="selectruta">
                <mat-option *ngFor="let selectruta of itemruta" [value]="selectruta.nCodigoRuta">{{selectruta.cNombreRuta + " -> " + selectruta.cDescripcion}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <mat-form-field appearance="outline">
              <mat-label>Seleccione conductor</mat-label>
              <mat-select formControlName="selectconductor">
                <mat-option *ngFor="let selectconductor of itemconductor" [value]="selectconductor.nCodigoCond">{{selectconductor.cNombreCond +", "+ selectconductor.cApePatCond +" "+ selectconductor.cApeMatCond}}</mat-option>
                
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <br>
        <button class="btn btn-primary" style="width: 140px;">Asignar</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Codico Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <!-- Conductor Column -->
      <ng-container matColumnDef="ruta">
        <th mat-header-cell *matHeaderCellDef> Ruta </th>
        <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
      </ng-container>

      <!-- Vehículo Column -->
      <ng-container matColumnDef="conductor">
        <th mat-header-cell *matHeaderCellDef> Conductor </th>
        <td mat-cell *matCellDef="let element"> {{element.conductor}} </td>
      </ng-container>

      <!-- Correo Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element" class="center">

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</div>
