ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
}
/* .sectiondatosuser{
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.datosuser{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datosuser>.row{
  display: flex;
  flex-direction: column;
}
.img-perfil{
  height: 65px;
  width: 65px;
  border-radius: 50px;
  margin-right: 10px;
}
var,strong{
  width: fit-content !important;
}
*/
.btn-sidebar{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  color: #7A869A;
  padding: 0 24px;
  height: 48px;
  cursor: pointer;
}
.btn-sidebar:hover{
  background-color: rgb(245, 245, 245);
  border: none;
}
.mat-icon{
  height: 27px;
  width: 36px;
}
.opciones{
  box-shadow: none;
  margin-top: 10px;
}
.opciones-header{
  color: #7A869A;
}
