ul{
  list-style: none;
}
.sectiondatosuser{
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.datosuser{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datosuser>.row{
  display: flex;
  flex-direction: column;
}
.img-perfil{
  height: 65px;
  width: 65px;
  border-radius: 50px;
  margin-right: 10px;
}
var,strong{
  width: fit-content !important;
}
